*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  .section-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

a{
  color: #000;
  text-decoration: none;
}